.RoomItem{
    user-select: none;

    @mixin hover{
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

.RoomItem_active {
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);

    @mixin hover{
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}